# Intellij project files
*.iml
*.ipr
*.iws
.idea/

# Gradle
.gradle
**/build/
!src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

#libs
libs/


local.properties

app/src/test/java/com/ladsers/passtable/android/ExampleUnitTest.kt

app/src/androidTest/java/com/ladsers/passtable/android/ExampleInstrumentedTest.kt
