<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_info_appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Passtable">
        <activity
            android:name=".activities.InfoActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|keyboard|navigation" />
        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|keyboard|navigation" />
        <activity
            android:name=".activities.EditActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|keyboard|navigation" />
        <activity
            android:name=".activities.PasswordGeneratorActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|keyboard|navigation" />
        <activity
            android:name=".activities.TableActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|keyboard|navigation"
            android:exported="true">
            <intent-filter android:label="@string/app_com_fileLabel">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.passtable"
                    android:scheme="content" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|keyboard|navigation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <queries>
        <package android:name="ru.vk.store"/>
    </queries>

</manifest>